
{{>navbar}}
<div class="container py-5">

    <!-- Welcome -->
    <div class="mb-5 text-center">
        <img src="/img/logo.png" alt="Gridly logo" class="img-fluid" style="max-width: 400px;">
    </div>

    <main class="d-flex justify-content-center gap-5">

        <!-- Left section -->
        <div class="d-flex flex-column align-items-center gap-3">
            <h2>Welcome, {{user.username}} 👋</h2>
            <!-- Play Now button -->
            <a href="/singleplayer" class="btn btn-success btn-lg mt-2" style="min-width: 200px;">
                🧩 Play Now
            </a>
        </div>

        <!-- Right section (user stats card) -->
        <div class="d-flex flex-column align-items-center">

            <div class="card shadow p-3" style="width: 300 px; height: 400px">
                
                <img src="/img/board.png" class="img-fluid mb-3" alt="preview" style = "width:350px; height: 350px;">

                <div class="d-flex justify-content-between text-white">
                    <span>🔥 5 day streak</span>
                    <span>🏆 1380 elo</span>
                </div>

            </div>

        </div>

    </main>

</div>

