
{{>navbar}}
<div class="home-layout pt-5 mt-5">

    <!-- Welcome -->
    <div class="mb-4 text-center">
        <h2>Welcome, {{user.username}} 👋</h2>

        <a href="/SinglePlayer" class="btn btn-outline-primary mt-2">Play Single Player</a>
    </div>

    <main class="d-flex justify-content-center gap-5">

        <!-- Left section -->
        <div class="d-flex flex-column align-items-center gap-3">
            <img src="/img/logo.png" alt="Gridly logo" class="img-fluid" style="max-width: 600px;">
            
            <h4>Another tag line or smth.</h4>
            
            <span class="fst-italic text-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, aliquam?
            </span>

            <!-- Play Now button -->
            <a href="/singleplayer" class="btn btn-success btn-lg mt-2" style="min-width: 200px;">
                🧩 Play Now
            </a>
        </div>

        <!-- Right section (user stats card) -->
        <div class="d-flex flex-column align-items-center">

            <div class="card shadow p-3" style="width: 500 px; height: 500px">
                
                <img src="/img/board.png" class="img-fluid mb-3" alt="preview" style = "width:450px; height: 450px;">

                <div class="d-flex justify-content-between text-white">
                    <span>🔥 5 day streak</span>
                    <span>🏆 1380 elo</span>
                </div>

            </div>

        </div>

    </main>

</div>

