{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gridly</title>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/output.css">
</head>
<body> --}}
    {{!-- <nav>
        <img src="../img/logo.png" alt="Gridly logo">
        <a href="">page1</a>
        <a href="">page2</a>
        <a href="">page3</a>
        <a href="#profile"class="profile flex flex-row gap-2 items-center ">
            <img vlass="" src="https://i.pinimg.com/474x/33/f8/26/33f8266681c946cd80de486c499fe992.jpg" alt="">
            <span>username</span>
        </a>
    </nav>

    <main class="flex items-center gap-3">
        <div class="flex flex-col p-5 items-center gap-5">
            <img class="w-full" src="/ProjectSourceCode/img/logo.png" alt="Gridly logo">
            <h3>Another tag line or smth.</h3>
            <spanc class="italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, aliquam?</span>
        </div>

        <div class="flex flex-col items-center">
            <div class="board">
                <img class="" src="/ProjectSourceCode/img/logo.png">
                <div class="flex justify-between p-3">
                    <span>5 day streak!</span>
                    <span>1380 elo</span>
                </div>
            </div>
        </div>
    </main> --}}

{{!-- </body>
</html> --}}


{{>navbar}}
<div class="home-layout pt-5 mt-5">

    <!-- Welcome -->
    <div class="mb-4 text-center">
        <h2>Welcome, {{user.username}} 👋</h2>

        <a href="/SinglePlayer" class="btn btn-outline-primary mt-2">Play Single Player</a>
    </div>

    <main class="d-flex justify-content-center gap-5">

        <!-- Left section -->
        <div class="d-flex flex-column align-items-center gap-3">
            <img src="/img/logo.png" alt="Gridly logo" class="img-fluid" style="max-width: 250px;">
            
            <h4>Another tag line or smth.</h4>
            
            <span class="fst-italic text-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, aliquam?
            </span>

            <!-- Play Now button -->
            <a href="/singleplayer" class="btn btn-success btn-lg mt-2" style="min-width: 200px;">
                🧩 Play Now
            </a>
        </div>

        <!-- Right section (user stats card) -->
        <div class="d-flex flex-column align-items-center">

            <div class="card shadow p-3" style="width: 260px;">
                
                <img src="/img/logo.png" class="img-fluid mb-3" alt="preview">

                <div class="d-flex justify-content-between">
                    <span>🔥 5 day streak</span>
                    <span>🏆 1380 elo</span>
                </div>

            </div>

        </div>

    </main>

</div>

{{>footer}}