<form id="challengeForm">
    Select your opponent:
    <select name="player" id="playerDropdown">
    </select>
    <button id="refresh">⟳</button>
    <button type="submit" id="challenge">challenge</button>
</form>
<script id="user-data" type="application/json">
  {{{json user}}}
</script>
<script src="../../js/socket.js"></script>
<script src="../../js/lobby.js"></script>