
{{>navbar}}
       <!-- MAIN CONTENT -->
<div class="container-fluid">

    <!-- PROFILE BANNER -->
    <div class="position-relative">
  
      <!-- Background Image -->
      <div style="
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8)),
                    url('https://media.istockphoto.com/id/118393737/photo/crossword-background.jpg?s=1024x1024&w=is&k=20&c=OJZeiB_abADBcf7WEOX-OuMlzGe4pdC4SFAP79e-95s=');
        height: 200px;
        background-size: cover;
        background-position: center;
      ">
      </div>
  
      <!-- PROFILE ROW (PIC + INFO TOGETHER) -->
      <div class="position-absolute d-flex align-items-end"
           style="bottom:-60px; left:30px; height:225px; ">
  
        <!-- Profile Picture -->
        <img src="https://cdn.pixabay.com/photo/2017/06/13/12/54/profile-2398783_1280.png"
             class="rounded-circle border border-light"
             style="width:225px; height:225px; object-fit: cover;">
  
        <!-- User Info (RIGHT SIDE) -->
      <!-- User Info (RIGHT SIDE) -->
      <div class="ms-4">

        <h2 class="mb-1 fs-1">{{user.username}}</h2>
        {{!-- <h2 class="mb-1 fs-1">UserName</h2> --}}

        <div class="d-flex gap-5">
          <div>
            <h5 class = "fs-3">#</h5>
            <p class="text-secondary fs-3 mb-0">Points Earned</p>
          </div>

          <div>
            <h5 class = "fs-3">#</h5>
            <p class="text-secondary fs-3 mb-0">Player Ranking</p>
          </div>
        </div>

      </div>

  
      </div>
  
    </div>
  
    <!-- Spacer so content below doesn't overlap -->
    <div style="height:120px;"></div>
  
    <!--Additonal Lower Dashboard Content will go here-->
    <div class = "row p-3 mt-3">

        <!--Game History-->
        <div class="col md-4 boarder-end border-secondary"> 
            <h5 class = "fs-3"> Game History</h5>
            <div class="border boarder-secondary rounded p-3 mt-2" style="height:300px;"> </div>
        </div>
        <!--Stats-->
        <div class="col md-4 boarder-end border-secondary"> 
            <h5 class = "fs-3">Stats</h5>
            <div class="border boarder-secondary rounded p-3 mt-2" style="height:300px;"> </div>
        </div>

        <!--Stats-->
        <div class="col md-4"> 
            <h5 class = "fs-3">Friends List</h5>
            <div class="border boarder-secondary rounded p-3 mt-2" style="height:300px;"> </div>
        </div>

    </div>

  </div>

{{!-- {{>footer}} --}}
