<!--Settings Template Taken from: https://www.bootdey.com/snippets/view/account-settings#html --> 
<!-- But, things will be customized from the original section -->

  {{> navbar}}

  <div class="settings-page"></div>
  <div class="settings-header" style = "text-align: center; margin-top: 20px;">
    <h1 class="settings-title">
      <span class="settings-icon">⚙️</span>
      Account Settings
    </h1>
  </div>
  <div class="container light-style flex-grow-1 container-p-y">

  <div class="card overflow-hidden" style="background-color: white; color: black;">
      <div class="row no-gutters row-bordered row-border-light">
        <div class="col-md-3 pt-0 text-black">
          <div class="list-group list-group-flush account-settings-links">
            <a class="list-group-item list-group-item-action active" data-toggle="list" href="#account-general">General</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-change-password">Change password</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-info">Info</a>
          </div>
        </div>
        <div class="col-md-9">
          <div class="tab-content">
            <div class="tab-pane fade active show" id="account-general">
              <!-- PROFILE PICTURE SECTION-- Has it so that We can change the profile picture -->
              <div class="card-body media align-items-center">
                 <img src="{{#if user.profile_image}}{{user.profile_image}}{{else}}https://cdn.pixabay.com/photo/2017/06/13/12/54/profile-2398783_1280.png{{/if}}"class="rounded-circle border border-light"style="width:225px; height:225px; object-fit: cover;"> 

              <div class="media-body ml-4">
                <form action="/upload-profile-image" method="POST" enctype="multipart/form-data">
                  <label class="btn btn-outline-primary">
                    Upload new photo
                    <input
                      type="file"
                      name="profileImage"
                      class="account-settings-fileinput"
                      accept=".jpg,.jpeg,.png,.gif"
                      onchange="this.form.submit()"
                    >
                  </label>
                </form>
                <div class="small mt-1" style="color:black;">
                  Allowed JPG, GIF or PNG. Max size of 800K
                </div>
              </div>
            </div>
              
              <hr class="border-light m-0">
              <div class="card-body" >
                <div class="form-group">
                  <label class="form-label text-black"> Username</label>
                 <input type="text" class="form-control mb-1"
                  style="background-color: white; color: black; border: 1px solid #191717;"
                  value="nmaxwell">
                </div>
                <div class="form-group">
                  <label class="form-label text-black">E-mail</label>
                  <input type="text" class="form-control mb-1"
                    style="background-color: white; color: black; border: 1px solid #181717;"
                    value="nmaxwell@mail.com">
                </div>
              </div>

            </div>
            <div class="tab-pane fade" id="account-change-password">
              <div class="card-body pb-2">

                <div class="form-group">
                  <label class="form-label">Current password</label>
                  <input type="password" class="form-control">
                </div>

                <div class="form-group">
                  <label class="form-label">New password</label>
                  <input type="password" class="form-control">
                </div>

                <div class="form-group">
                  <label class="form-label">Repeat new password</label>
                  <input type="password" class="form-control">
                </div>

              </div>
            </div>
            <div class="tab-pane fade" id="account-info">
              <div class="card-body pb-2">

                <div class="form-group">
                  <label class="form-label">Bio</label>
                  <textarea class="form-control" rows="5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nunc arcu, dignissim sit amet sollicitudin iaculis, vehicula id urna. Sed luctus urna nunc. Donec fermentum, magna sit amet rutrum pretium, turpis dolor molestie diam, ut lacinia diam risus eleifend sapien. Curabitur ac nibh nulla. Maecenas nec augue placerat, viverra tellus non, pulvinar risus.</textarea>
                </div>
                <div class="form-group">
                  <label class="form-label">Birthday</label>
                  <input type="text" class="form-control" value="May 3, 1995">
                </div>
                <div class="form-group">
                  <label class="form-label">Country</label>
                  <select class="custom-select">
                    <option>USA</option>
                    <option selected="">Canada</option>
                    <option>UK</option>
                    <option>Germany</option>
                    <option>France</option>
                  </select>
                </div>


              </div>
              <hr class="border-light m-0">
              <div class="card-body pb-2">

                <h6 class="mb-4">Contacts</h6>
                <div class="form-group">
                  <label class="form-label">Phone</label>
                  <input type="text" class="form-control" value="+0 (123) 456 7891">
                </div>
                <div class="form-group">
                  <label class="form-label">Website</label>
                  <input type="text" class="form-control" value="">
                </div>

              </div>
      
            </div>
            <div class="tab-pane fade" id="account-notifications">
              <div class="card-body pb-2">

                <h6 class="mb-4">Activity</h6>

                <div class="form-group">
                  <label class="switcher">
                    <input type="checkbox" class="switcher-input" checked="">
                    <span class="switcher-indicator">
                      <span class="switcher-yes"></span>
                      <span class="switcher-no"></span>
                    </span>
                    <span class="switcher-label">Email me when someone comments on my article</span>
                  </label>
                </div>
                <div class="form-group">
                  <label class="switcher">
                    <input type="checkbox" class="switcher-input" checked="">
                    <span class="switcher-indicator">
                      <span class="switcher-yes"></span>
                      <span class="switcher-no"></span>
                    </span>
                    <span class="switcher-label">Email me when someone answers on my forum thread</span>
                  </label>
                </div>
                <div class="form-group">
                  <label class="switcher">
                    <input type="checkbox" class="switcher-input">
                    <span class="switcher-indicator">
                      <span class="switcher-yes"></span>
                      <span class="switcher-no"></span>
                    </span>
                    <span class="switcher-label">Email me when someone follows me</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-right mt-3">
      <button type="button" class="btn btn-primary">Save changes</button>&nbsp;
      <button type="button" class="btn btn-default">Cancel</button>
    </div>

  </div>
