<link rel="stylesheet" href="../../css/chat.css">
<script src="../../js/socket.js"></script>

<div class="error-container" id="errorContainer">
</div>

<div class="chat-container" id="chatBox">
    <button id="closeChat" type="button">&times;</button>

    <ul class="chat" id="chatbox"></ul>

    <form id="sendMessageForm" class="chat-form">
        <input type="text" name="message" id="textbox" placeholder="Type a message...">
        <button type="submit">Send</button>
    </form>
</div>