<!-- Bottom row -->
  <footer class="bg-gray-800 text-white py-4">
      <div class="text-center pt-3 border-top border-secondary">
        <small>© 2026 Gridly | CU Boulder </small>
      </div>
    </div>
  </footer>