<!-- Bottom row -->
  <footer class="bg-gray-800 text-white py-4">
      <div class="text-center pt-3 border-top border-secondary">
        <small>© 2026 Gridly | CU Boulder </small>
      </div>
    </div>
  </footer>

  <footer class="text-center py-3">
        <p class="mb-0">An engaging experience for crossword enthusiasts who want to test themselves and compete against others.</p>
  </footer>