<!-- TOP NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="/home">Gridly</a>

    <!-- Toggle for mobile nav -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav me-auto">
        <a class="nav-link text-white" href="../pages/home.hbs">Home</a>
        <a class="nav-link text-white" href="../pages/leaderboard.hbs">Leaderboard</a>
        <a class="nav-link text-white" href="../pages/Profile.hbs">Profile</a>
      </div>

      <!-- 👉 SETTINGS BUTTON (triggers sidebar) -->
      <button class="btn btn-outline-light" data-bs-toggle="offcanvas" data-bs-target="#settingsSidebar">
        ⚙️
      </button>
    </div>
  </div>
</nav>

<!-- SIDE SETTINGS PANEL -->
<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="settingsSidebar">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Settings</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
  </div>

  <div class="offcanvas-body">
    <div class="list-group">
      <a href="/profile" class="list-group-item bg-dark text-white border-secondary">Profile</a>
      <a href="/account" class="list-group-item bg-dark text-white border-secondary">Account</a>
    </div>
  </div>
</div>
