<!-- TOP NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="/home">Gridly</a>

    <!-- Toggle for mobile nav -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav me-auto">
        <a class="nav-link {{#if isHome}}text-success{{else}}text-white{{/if}}" href="/home">Home</a>
        <a class="nav-link {{#if isLeaderboard}}text-success{{else}}text-white{{/if}}" href="/leaderboard">Leaderboard</a>
        <a class="nav-link {{#if isProfile}}text-success{{else}}text-white{{/if}}" href="/profile">Profile</a>
      </div>

      <!-- Settings button -->
      <button class="btn btn-outline-light" data-bs-toggle="offcanvas" data-bs-target="#settingsSidebar">
        ⚙️
      </button>
    </div>
  </div>
</nav>

<!-- SIDE SETTINGS PANEL -->
<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="settingsSidebar">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Settings</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
  </div>

  <div class="offcanvas-body">
    <div class="list-group">
      <a href="/profile" class="list-group-item bg-dark text-white border-secondary">Profile</a>
      <a href="/Settings" class="list-group-item bg-dark text-white border-secondary">Account Settings</a>

      <button
        type="button"
        class="list-group-item bg-dark text-danger border-secondary text-start"
        data-bs-toggle="modal"
        data-bs-target="#logoutModal"
      >
        Logout
      </button>
    </div>
  </div>
</div>

<!-- LOGOUT CONFIRMATION MODAL -->
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content text-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="logoutModalLabel">Confirm Logout</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to log out?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <a href="/logout" class="btn btn-danger">Yes, Log Out</a>
      </div>
    </div>
  </div>
</div>
